* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: burlywood;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid burlywood;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin: 1em;
}

.header-container {
    color: white;
    background-color: rosybrown;
}

.header {
    background-color: rosybrown;
    display: grid;
    gap: 1em;
    max-width: 50em;
    margin: auto;
    justify-content: center;
}
@media (min-width: 50em) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer {
    background-color: burlywood;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 2em;
    width: 100%;
    padding: 1em;
}

.background {
color: antiquewhite;
padding: 1em;
background-color: rosybrown;
}

.grid-even-columns { /* did to figure out how to fix this issue*/
    color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-top: 1em;
}

img {
    max-width: 30em; 
    max-height: 30em;
}

.writing {
    color: antiquewhite;
    background-color: rosybrown;
    padding-left: 1em;
}

.press-releases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1em;
    row-gap: 1em;
    gap: 1em;
}

video {
   max-width: 30em;
   min-height: 30em;
}

.christmascamp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    max-width: 50em;
    margin: auto;
    justify-content: center;
    margin-top: 1em;
}

.myexperience, .social-media {
    color: antiquewhite;
    background-color: rosybrown;
    display: grid;
}

.experiencepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rosybrown;
    color: antiquewhite;
    padding-left: 1em;
    padding-top: 1em;
}

.link {
    color: antiquewhite;
}

.link:hover {
    color: burlywood;
}

.link-footer {
    color: antiquewhite;
}
.link-footer:hover {
    color: rosybrown;
}